@charset "UTF-8";
@import url('../css/fontset.css');

/* PretendardBold */
/* font */
$font_light: 'PretendardLight', sans-serif;
$font_regular: 'PretendardRegular',sans-serif;
$font_medium: 'PretendardMedium',sans-serif;
$font_semibold: 'PretendardSemiBold',sans-serif;
$font_bold: 'PretendardBold',sans-serif;
$font_extrabold: 'PretendarExtraBold',sans-serif;


html, body {
  color: #111;
  font-family: $font_semibold;

    // position: relative;
    // width: 100%;
    // height: 100%;
    // font-family: var(--krds-font-family-base);
    // font-weight: var(--krds-// font-weight-regular);
    // line-height: var(--krds-line-height-base);
    // word-break: keep-all;
    // word-wrap: break-word;
    // -webkit-tap-highlight-color: transparent;
    // scroll-behavior: smooth;
}
.title-area {
  position: relative;
}
    .box_title {
      font-size: 2rem;
      font-family: $font_semibold;
      padding-left: 14px;
      margin-bottom: 1.6rem;
    }

    small {
      font-size: 1.4rem;
      font-family: $font_regular;
    }
    span {
      font-size: 1.6rem;
    }

// .section_line {
//   padding: 0 !important;
// }


// .box_left {
//     >div {
//     min-height: 17rem;
//   }

//   // width: 53.4rem;
//   // flex-grow: 0;
//   // flex-shrink: 0;
// }

// .box_right {
//   >div {
//     min-height: 17rem;
//   }

//   // width: 69.6rem;
//   //   flex-grow: 0;
//   // flex-shrink: 0;
// }

.container-main {
  max-width: 128.0rem;
  margin: 0 auto;
  position: relative;
  padding-bottom: 7.3rem;
}



// .wrap_grid {
//     display: grid;
//     // grid-template-columns: repeat(2, minmax(200px, 1fr));
//     column-gap: auto; 
//   column-gap: 10%;
//   row-gap: 3rem;
//   flex-wrap: wrap;

//   >div:nth-child(odd) {
//   width: 53.4rem;
// }

// >div:nth-child(even) {
//   width: 69.6rem;
// }
// }

.wrap_grid {
  display: grid;
  // grid-template-columns: 53.4rem 69.6rem;
  grid-template-columns: 54.38% 41.72%;
  column-gap: 3.98%;    // /* 좌우 간격 */
  row-gap: 3rem;        // /* 위아래 간격 */
}



/* 메인 히어로 섹션 */

.main-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 5.8rem;
  padding-top: 3.6rem;
  padding-bottom: 5rem;
  // flex-wrap: wrap;
}

.hero-left {
  flex: 2 2 66rem;
  padding-left: 6.4rem;
  padding-right: 6.4rem;
  order: 1;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

}

.wrap_box_txt {
	text-align: center;
	h2 {
    display: inline-block;
		color: #2e404b;
		font-size: 3rem;
		font-family: $font_bold;
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      left: -5.3rem;
      top: .8rem;
      width: 4.5rem;
      height: 2.8rem;
      display: block;
    background-image: url('../img/icon/icon_p_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    }
	}

	h3 {
		color: #0054a6;
		font-size: 3.6rem;
		font-family: $font_bold;
		letter-spacing: -3px;
    margin-bottom: 2.4rem;
	}
}

.hero-right {
  flex: 1 1 62rem;
  max-width: 62rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
    padding-left: 4rem;
  padding-right: 4rem;

  h2 {
    font-size: 3.2rem;
    // font-weight: 700;
    color: #106192;
    text-align: center;
    // margin-bottom: -1rem;
  }
}

.banner-page {
  display: flex;
  gap: 0.3rem;
  margin-right: 1rem;
}

#toggle-play {
  margin-right: 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  width: 1.7rem;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 214px;
  padding-top: calc(214 / 537 * 100%);
	max-width: 537px;
	max-height: 214px;
}

.banner-slide {
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 537px;
	max-height: 214px;
	border: 1px solid #adccdc;

  &.active {
    opacity: 1;
    z-index: 1;
  }
  img {
  width: 100%;
  height: 100%;
	max-height: 214px;
  -o-object-fit: cover;
  object-fit: cover;
  }
}

.banner-controls {
  position: absolute;
  top: 85%;
  right: 2.5rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background: rgb(161 205 231);
  padding: 0.4rem 1.3rem;
  border-radius: 14px;
  color: #69767d;
  z-index: 10;
  font-size: 1.4rem;
  font-family: $font_semibold;
}

.arrow-btn {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  img {
    width: 1.3rem;
    height: 1.3rem;
    filter: brightness(0) saturate(100%) invert(40%) sepia(9%) saturate(406%) hue-rotate(162deg) brightness(97%) contrast(89%);
    transition: transform 0.2s;
  }

  &.left img {
    transform: rotate(90deg);
  }

  &.right img {
    transform: rotate(-90deg);
  }
}

/* 방향 회전 */

#toggle-play {
  &.pause::after {
    content: "❚❚";
  }

  &.play::after {
    content: "▶";
  }
}

/* 검색창 */

.search-box {
  display: flex;
  align-items: center;
  border: 0.3rem solid #1f4ec2;
  border-radius: 3.1rem;
  padding-left: 3.2rem;
  // padding-right: 6rem;
  background: transparent;

  input {
    // // flex: 1;
    // //    font-size: 1.3rem;
    width: 100%;
    border: none;
    outline: none;
    line-height: 4.5rem;
    
    // padding: 1rem 4.2rem 1rem 2rem;
    font-size: 1.6rem;
    color: #777;

    /* background: url(/img/icon/ico-main-search.png) no-repeat right 1.2rem center;  월간보고 시연위해 주석 처리 */
    // background: no-repeat right 1.2rem center;
    // background-size: 1.9rem 1.9rem;

  }

  i {
    // // flex: 1;
    //    font-size: 1.3rem;
    padding: 2.5rem;
    border: none;
    outline: none;
    background: none;
    background-color: #fff;
    mask-repeat: no-repeat;
    mask-position: 17px center;
    background-size: 1.9rem 1.9rem;    
    mask-size: contain;
    mask-image: url('../img/icon/ico_search.svg');
    mask-size: 19px 19px;
  }

  button{

    width: 5rem;
    height: 5rem;
    background-color: #1f4ec2;
    border-radius: 50%;

    img {
      width: 2.0rem;
      height: 2.0rem;
    }
  } 
}


/* 태그 */

// .tag-box {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 0.8rem 1.2rem;

//   span {
//     background-color: #d5e5e9;
//     // color: #333;
//     font-size: 1.4rem;
//     line-height: 1.1;
//     font-family: $font_semibold;
//     padding: .6rem 1.9rem;
//     border-radius: .8rem;
//     white-space: nowrap;
//   }
// }

/* 순위 드롭다운 */

.quick-link-dropdown {
  position: relative;
  font-size: 1.6rem;
  display: inline-block;
}

.quick-link-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: $font_semibold;
  // color: #222;
  gap: 0.4rem;
  min-width: 20rem;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #c9c9c9;
  }

  > div {
    display: flex;
  }

  strong {
    color: #154dd2;
    // font-weight: bold;
    margin-right: 0.2rem;
  }

  .label-text {
    font-size: 1.6rem;
    // font-weight: bold;
    max-width: 14rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.arrow-icon {
  display: inline-block;
  width: 1.4rem;
  height: 1.8rem;
  margin-left: auto;
  background: url("../img/icon/ico-l-arrow-down.png") no-repeat center center;
  background-size: contain;
}

/* open 시 이미지 변경 */

.quick-link-dropdown.open .arrow-icon {
  background-image: url("../img/icon/ico-l-arrow-up.png");
}

.rolling-container {
  position: relative;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  font-size: 1.4rem;
}

.rolling-slide {
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

/* 민원 */
.wrap_hero_btn {

	.hero_btns {
	display: flex;
	flex-wrap: wrap;
	gap: 1.2rem;
	justify-content: space-between;
	cursor: pointer;
}

  .hero_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1.6rem;
    border-radius: .8rem;
    border: 1px solid #dadada;
    // // flex: 1;	
    width: 16.2rem;
    height: 16.2rem;
    // line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    background: linear-gradient(150deg, #19c1e2, #138fb3);
    box-shadow : 10px 10px 7px 1px #7878783d;

  }

	.circle {
			width: 8.1rem;
			height: 8.1rem;
			border: 1px solid #636363;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0.6rem;
    cursor: pointer;
		
		img {
			width: 90%;
		}

		}

  .text {
    margin-top: 1.3rem;
  }

  // .lookup-div {
  //   background-color: #f4f4f4;
  //   padding: 2.7rem 4.4rem;
  //   border-radius: 0.8rem;
  //   min-height: 17rem;
  // }

	

  .lookup-btn {
    // // flex: 1;
    min-width: 12rem;
    padding: 0.8rem 1.2rem;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    border-radius: 0.6rem;
    font-size: 1.4rem;
    font-family: $font_bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;

    &:hover {
      background-color: #eef4fb;
    }
  }

  .lookup-info {
    background-color: #1499bd;
    // color: #333;
    padding: 1.4rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid #c9c9c9;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $font_regular;
  }
}

/* 드롭다운 리스트 */

.dropdown-list {
  position: absolute;
  top: calc(100% + 0.8rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border: 0.1rem solid #c9c9c9;
  padding: 1rem 1.4rem;
  box-sizing: border-box;
  z-index: 1000;
  border-radius: 10px;
  min-width: 22rem;
  overflow: hidden;


  li {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    list-style: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;


    &.active {
      color: #154dd2;
      font-family: $font_semibold;
    }
  }
}

/* 사용자 힌트 */

.user-tip {
  display: flex;
  align-items: center;
    font-size: 1.8rem;
  // font-weight: bold;
  gap: 1.0rem;
  justify-content: space-between;
}

.quick-link-title {
  display: flex;
  align-items: center;
  margin-left: .9rem;

  > p {
    font-size: 1.8rem;
    margin-left: 2.2rem;
  }
}

.quick-link {
  margin-left: auto;
  color: #1f4ec2;
  font-family: $font_semibold;
  font-size: 1.4rem;
  cursor: pointer;
}

/* 민원 캐러셀 섹션 */

.favorite-carousel {
  position: relative;
  overflow: visible;
	background-repeat: repeat;
  flex-wrap: wrap;
  padding-top: 2.4rem;
  padding-bottom: 6.6rem;
  margin-bottom: 3.2rem;
	
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 14rem);
    height: 29.5rem;
    background-color: #f4f8ff;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }

  .favorite-header {
    display: flex;
    justify-content: center;
		text-align: center;
    // margin-bottom: 2.4rem;
    position: relative;
    
    .service-setting {
      position: absolute;
      right: 0;
      color: #555;
    }

    .logo-text {
      font-size: 2.8rem;
      font-family: $font_bold;
			text-align: center;
      color: #fff;
      white-space: nowrap;
    }
  }

  .service-setting {
    display: flex;
    align-items: center;
		justify-content: flex-end;
    gap: 1rem;
    
    span {      
      font-size: 1.5rem;
      color: #555;
    }
    // // font-weight: 700;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

	.wrap_slide-carousel {
  position: relative;
  // padding: 4.0rem 2.0rem;
  // background-color: #fff;
  overflow: hidden;
  // flex-wrap: wrap;
	}
 
  .swiper {
    position: relative;
    width: calc(100% - 21rem);
    box-sizing: border-box;
    margin: 0 auto;
    // margin: 0 15.7rem;
  }

  .swiper-wrapper {
    display: flex;
    width: 100%;
  }

  .swiper-slide {
    flex-shrink: 0;
    width: 12.24%;
    box-sizing: border-box;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  .service-item {
    background-color: #fff;
    border: 0.1rem solid #e0e0e0;
    border-radius: 1rem;
    padding: 1.4rem 1.0rem;
    width: 100%;
    height: 16.0rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .label-wrap {
    display: inline-flex;
  }

  .label {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.6rem;
    font-family: $font_extrabold;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 1.4rem;
  }

  .green .label {
    background: linear-gradient(0deg, #3c8343, #81c768);
  }

  .orange .label {
    background: linear-gradient(0deg, #ef6734, #f7963a);
  }

  .blue .label {
    background: linear-gradient(0deg, #375dcf, #5e91f1);
  }

  .star {
    position: absolute;
    top: 1.0rem;
    right: 1.0rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('../img/icon/ico-star.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -999.9rem;
    overflow: hidden;
    display: inline-block;
  }

  .title {
    font-size: 1.6rem;
    line-height: 1.3;
    word-break: keep-all;
  }

  .swiper-button-prev {
    position: absolute;
    top: 56%;
    // transform: translateY(-50%);
    left: 3.6rem;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    background-color: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .swiper-button-next {
    position: absolute;
    top: 56%;
    // transform: translateY(-50%);
    right: 3.6rem;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    background-color: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 2.0rem;
    // color: #333;
  }

  .swiper-pagination {
    padding-top: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 0rem;
    align-items: flex-start;
  }

  .swiper-pagination-bullet {
    width: 1.1rem;
    height: 1.1rem;
    background-color: #bcbcbc;
    border-radius: 50%;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    width: 3.3rem;
    border-radius: 0.8rem;
    background-color: #1e50d8;
  }
}

/* 슬라이드 영역 */

/* 민원 카드 */

/* 라벨 컨테이너 */

/* 라벨 원형 배지 */

/* 라벨 색상: 조회 */

/* 라벨 색상: 신고 */

/* 라벨 색상: 신청 */

/* 즐겨찾기 별 아이콘 */

/* 카드 제목 */

/* 이전 버튼 */

/* 다음 버튼 */

/* 페이지 인디케이터 */

/* 인디케이터 점 */

/* 활성화된 인디케이터 */

/* 사이버 범죄 */
.cyber-left, .cyber-right {
  background-color: #fff;  
  // // flex: 1;
  // min-width: 300px;
}

.cyber-left h3, .cyber-right h3 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  font-family: $font_semibold;
}

.cyber-action-list {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  // padding: 4rem 0rem;
  min-height: 17rem;
}

.cyber-action {
  text-align: center;
  font-size: 1.4rem;
  // color: #333;
  display: flex;
  align-items: center;

  // .circle {
  //   background-color: #f3ce00;
  //   border-radius: 1rem;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   margin: 0 auto 0.6rem;
  //   cursor: pointer;
  //   width: 7.4rem;
  //   height: 7.4rem;
  // }

  // img {}

  .text {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
  }
}

.cyber-right {
  .title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lookup-div {
    background-color: #f4f4f4;
    padding: 2.7rem 4.4rem;
    border-radius: 0.8rem;
    min-height: 17rem;
  }

  .title-area small {
    // font-size: 1.2rem;
    // color: #555;
    // line-height: 1.4;
    font-family: $font_medium;
  }

  .lookup-box {
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1.2rem;

    select {
      padding: 0.8rem;
      font-size: 1.4rem;
      border: 1px solid #c9c9c9;
      border-radius: 0.8rem;
      padding-left: 2.8rem;
    font-family: $font_medium;

    }

    input {
      padding: 0.8rem;
      font-size: 1.4rem;
      border: 1px solid #c9c9c9;
          border-radius: 0.8rem;
      flex: 1;
    }
  }

  .lookup-info {
    span {
      font-size: 1.4rem;
    }
    background-color: #1499bd;
    color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid #c9c9c9;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $font_semibold;
  }
}

.lookup-btn {
  position: relative;
  background-color: #0054a6;
  color: #fff;
  min-width: 10.7rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 2.6rem 0.8rem 5rem;
  border-radius: 0.8rem;
  border: 1px solid #c9c9c9;
  height: 3.8rem;

  &::after {
    content: "";
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    background: url("../img/icon/ico-main-search.png") no-repeat center center;
    background-size: contain;
    filter: brightness(0) invert(1);

    /* 흰색처럼 보이게 */
    pointer-events: none;
  }
}

/* 아이콘 삽입 */

.select-wrap {
  position: relative;
  display: inline-block;
  width: 16rem;

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 0.8rem 3rem 0.8rem 1rem;

    /* 오른쪽 여백 확보 */
    font-size: 1.4rem;
    border: 1px solid #c9c9c9;
    border-radius: 0.6rem;
    background-color: #ffffff;
    // color: #333;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 2rem;
    background: url("../img/icon/ico-l-arrow-down.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
  }
}

/* after로 화살표 아이콘 삽입 */

/* 유실물, 누리캅스 */

// .lostnfound-wrap {
//   margin: 2rem 0;
// }

.lostnfound-left, .lostnfound-right {
  background-color: #fff;
}

.lostnfound-left h3, .lostnfound-right h3 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  font-family: $font_semibold;
}

/* 유실물 아이콘 리스트 */


  .circle {
    background-color: #ecf2f4;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 0.6rem;
    cursor: pointer;
    width: 7.4rem;
    height: 7.4rem;
  }



.lostnfound-action-list {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  min-height: 17rem;
} 

.lostnfound-action {
  text-align: center;
  font-size: 1.4rem;
  // color: #333;
  display: flex;
  align-items: center;

  .text {
    //    font-size: 1.3rem;
    line-height: 0px;
    // font-weight: 700;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
  }
}

/* 누리캅스 우측 */

.lostnfound-right {
  .title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lostnfound-right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 1.6rem;
    border-radius: .8rem;
    border: 1px solid #dadada;
    flex: 1;
  }

  .text {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    margin-left: 2.1rem;
  }

  .lookup-div {
    background-color: #f4f4f4;
    padding: 2.7rem 4.4rem;
    border-radius: 0.8rem;
    min-height: 17rem;
  }

  .lookup-box {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    cursor: pointer;
  }

  .lookup-btn {
    // // flex: 1;
    min-width: 12rem;
    padding: 0.8rem 1.2rem;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    border-radius: 0.6rem;
    font-size: 1.4rem;
    font-family: $font_bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;

    &:hover {
      background-color: #eef4fb;
    }
  }

  .lookup-info {
    background-color: #1499bd;
    padding: 1.4rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid #c9c9c9;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $font_regular;
  }
}

/* 이용안내, 순찰신문고 */

// .info-section {
//   // margin: 4rem 0;
// }

// .info-guide, 
.patrol-report {
  // flex: 1 1 48%;
  // display: flex;
  border-radius: 1rem;
}

// .info-guide h3, 
// .patrol-report h3 {
//   font-size: 2rem;
//   margin-bottom: 1.6rem;
//   font-family: $font_semibold;
// }

.guide-cards {
  display: flex;
  gap: .9rem;
  // width: 100%;
}

.guide-card {
  width: 17.2rem;
  height: 17.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;  
    background-color: #f4f4f4;

  h4 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    // font-family: $font_medium;
  }

  p {
    font-size: 1.4rem;
    font-family: $font_regular;
    margin-bottom: 1.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    word-break: break-all;
     letter-spacing: -1px;
  }

  button {
    width: 11.4rem;
    height: 2.8rem;
    background-color: #6a6a6a;
    color: white;
    border: none;
    padding: 0.3rem 2.4rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;

    cursor: pointer;
    display: flex;
    margin: 0 auto;
    gap: 1rem;
  }
}

.patrol-report .report-box {
  background-color: #f4f4f4;
  padding: 4rem;
  border-radius: 0.8rem;

  p {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
}

.search-form {
  gap: 1.5rem;
  display: flex;
  align-items: center;

  input {
    flex: 1;
    padding: 0.9rem 1.2rem;
    border: 1px solid #c9c9c9;
    
    //    font-size: 1.3rem;
    text-align: center;
    border-radius: 0.8rem;
  }

  .search-btn {
    background-color: #004c70;
    color: white;
    border: none;
    padding: 0.9rem 1.5rem;
    //    font-size: 1.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

/* 공지사항, 민원서식 */

/* 탭추가 */
  .tab-menu {
    display: flex;
    // gap: 10px;
    margin-bottom: 1.2rem;
  }

  .tab-btn {

      font-size: 2rem;
      font-family: $font_semibold;
      // margin-bottom: 1.6rem;

    cursor: pointer;
    user-select: none;
    color: #777;
    padding-right: 4.2rem;


  }

  .tab-btn.active {
    color: #111;
  }
  
.tab-content  {
  .section-header {
    position: relative;
    margin: 0;
    a {
      position: absolute;
      right: 0;
      bottom: 10px;
    }
  }
}


.notice-forms-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width: 100%;
  gap: 7.9rem;  
  margin-top: 7rem;
  padding-bottom: 4.2rem;
  margin-bottom: 4.5rem;
  border-bottom: 1px solid #dcdcdc;

  h3 {
      font-size: 2rem;
      font-family: $font_semibold;
  }

}

.notice-area {
  display: flex;
  // flex: 1 1 48%;
  border-radius: 1rem;
  gap: 6.7rem;

  > div {
    flex: 1;
    min-width: 37.6rem;
  }
  //   margin-right: 3rem;

  //   &:last-child {
  //     margin-right: unset;
  //   }
  // }
}

.safety-image {  
  width: 37rem;
  border-radius: 1rem;

  img {
    width: 100%;
    height: auto;
  }
}

.safety-text {
  h3 {
    font-size: 2.2rem;
    // font-weight: 700;
    margin: 1rem 0 0.5rem;
    color: #004a75;
  }

  p {
    font-size: 1.4rem;
    // color: #333;
    line-height: 1.6;
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;

  h3 {
    font-size: 2rem;
    font-family: $font_semibold;
  }

  a {
    // font-size: 1.2rem;
    font-family: $font_semibold;
    color: #106192;
    text-decoration: none;
  }
}

.notice-list li, .form-list li {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  // font-family: $font_bold;
  border-bottom: 1px solid #eeeeee;
  
  padding: 1.4rem 0;
  height: 6.5rem;
  font-family: $font_medium;


  a {
    span {
  margin-left: 1rem;

    }
  }

}

.notice-list img, .form-list img {
  width: 2.5rem;
  height: auto;
  margin-right: 2.5rem;
}


// section:last-child {
//   padding-top: 3rem;
//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     border-top: 0.1rem solid #dedede;
//     width: 100%;
//     max-width: 121rem;
//   }
// }

/* 경찰 민원 채널 */

.channel-section {
  position: relative;

  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: $font_semibold;
  }
}

.channel-carousel-wrap {
  position: relative;
  box-sizing: border-box;
  margin: 0 3.5rem;
  width: 96%;
  // height: auto;
  overflow: hidden;
}

.channel-carousel {
  display: flex;
  scroll-behavior: smooth;
  // gap: 1.3rem;
  // padding: 1rem 0rem;
}

.channel-item {
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    display: block;
  }

  &.swiper-slide {
    width: 23.3rem;
    // width: auto !important;
    flex-shrink: 0 !important;
    cursor: pointer;
  }
}

.channel-btn {
  position: absolute;
  bottom: 20px;
  // transform: translateY(-50%);
  
  width: 4.4rem;
  height: 4.4rem;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.left {
      left: -12px;
  }

  &.right {
    right: -12px;
  }

  img {
    width: 2.4rem;
    height: 2.4rem;
    max-width: none;
    max-height: none;
    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(40%) sepia(9%) saturate(406%) hue-rotate(162deg) brightness(97%) contrast(89%);
  }

  &.left img {
    transform: rotate(90deg);
  }

  &.right img {
    transform: rotate(-90deg);
  }
}

.channel-carousel.swiper-wrapper {
  width: auto !important;
}

/* 우측 퀵메뉴 */

.floating-menu {
  position: fixed;
  top: 32rem;

  /* 320px 기준 */
  right: calc((100% - 1280px) / 2 - 28rem);
  display: flex;
  flex-direction: column;
  gap: .6rem;
  z-index: 9999;
  transition: top 0.3s ease;
}

.floating-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  width: 202px;
  height: 6rem;
  
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  // padding: 0.6rem 1.2rem 0.6rem 1.6rem;
  padding-right: 7.5rem;
  font-family: $font_semibold;
  cursor: pointer;
  position: relative;

  .label {
    color: #000;
    z-index: 2;
    font-size: 1.6rem;
  }

  .icon {
    width: 6rem;
    height: 6em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    // margin-left: 1.2rem;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &.police .icon {
    // background-color: #4979f2;
    background-image: url('../img/icon/ico-main-quick-find.png');
  }

  &.chat .icon {
    // background-color: #00b9d6;
    background-image: url('../img/icon/ico-main-quick-chat.png');
  }

  &.patrol .icon {
    // background-color: #466efb;
    background-image: url('../img/icon/ico-main-quick-patrol.png');
  }

  &.top {
    .icon {
      // background-color: #466efb;
      background-image: url('../img/icon/ico-main-quick-top.png');
    }

    &:last-child {
      border: unset;
    }

    // .icon.only {}
  }
}

// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////

@media all and (max-width: 1421px) {

    .container-main {
    max-width: unset;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    // padding-bottom: 4rem;
  }

  // .main-hero {
  //   gap: 3%;
  // }

  .hero-right h2 {
    font-size: 2.8rem;
}


.wrap_grid {
  grid-template-columns: 52% 45%;
  column-gap: 3%;    // /* 좌우 간격 */
  row-gap: 3rem;        // /* 위아래 간격 */
}

.title-area small {
  // display: none;
  position: absolute;
  right: 0;

}


/* 우측 퀵메뉴 */

.floating-menu {
  .police ,
  .chat , 
  .patrol {
    display: none;
  }
  position: fixed;
  top: unset !important;
  bottom: 2rem;
  right: 1.1rem;
}

.floating-btn {
  width: 4.5rem;
  height: 4.5rem;
  padding-right: 0;
  border-radius: 50%;

  .icon {
    width: 4.5rem;
    height: 4.5rem;
  }

  &.top {
    .icon {
      // background-color: #466efb;
      background-image: url('../img/icon/ico-quick-top.png');
    }

  }

}

.guide-card {
  // width: 17.2rem;
  // height: 17.2rem;
  // padding-top: 2rem;
  // padding-bottom: 2rem;
  // border-radius: 1rem;  
  // background-color: #f4f4f4;

  h4 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    // margin-bottom: 1.5rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  
  }

  // button {
  //   width: 11.4rem;
  //   height: 2.8rem;
  //   background-color: #6a6a6a;
  //   color: white;
  //   border: none;
  //   padding: 0.3rem 2.4rem;
  //   border-radius: 0.8rem;
  //   font-size: 1.4rem;

  //   cursor: pointer;
  //   display: flex;
  //   margin: 0 auto;
  //   gap: 1rem;
  // }
}

.favorite-carousel .swiper {
  width: calc(100% - 10rem);
}

.favorite-carousel .swiper-button-prev {
  left: 0;
}
.favorite-carousel .swiper-button-next {
  right: 0;
}


/* 공지사항 */
.notice-area {
  width: 100%;
}
.notice-area > div {
  min-width: unset;
  width: 48%;
}
.safety-image {
  width: 100%;
}
}

// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////

// @media all and (max-width: 1025px) {

// }

@media (max-width: 1024px) {
  
  .container-main {
    // max-width: unset;
    // width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 10rem;
    overflow: hidden;
  }

  .title-area small {
  // display: none;
  position: relative;
  right: unset;
}


  .box_title {
    padding-left: 0;
  }

.box_left {
  width: 100%;
  flex: 1 1;
}

.box_right {
  width: 100%;
  flex: 1 1;
}

.notice-forms-section {
  flex-direction: column;
}

.notice-area {
  flex-direction: column;
  gap: unset;

  > div {
  min-width: none;
}
}

.wrap_grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .cyber-right { order: 0; }
  .cyber-left { order: 1; }
  .lostnfound-left { order: 2; }
  .lostnfound-right { order: 3; }
  .patrol-report { order: 4; }
  .info-section { order: 5; }
  .notice-forms-section { order: 6; }
  .channel-section { order: 7; }
  .info-guide { order: 8; }
  .notice-forms-section { order: 9; }
  .channel-section { order: 10; }

  // .cyber-left { order: 1; }
  // .lostnfound-left { order: 2; }
  // .cyber-right { order: 3; }
  // .lostnfound-right { order: 4; }
  // .patrol-report { order: 5; }
  // .info-section { order: 6; }
  // .notice-forms-section { order: 7; }
  // .channel-section { order: 8; }
  // .info-guide { order: 9; }
  // .notice-forms-section { order: 9; }
  // .channel-section { order: 9; }
}

  .main-hero {
    flex-direction: column;
    gap: 2.8rem;

    align-items: unset;
    padding-top: 1.2rem;
    padding-bottom: 5.6rem;
  }

  .hero-right {
    order: 0; 
    max-width: 100%;
    flex: 1;
    gap: 2rem;
    margin-top: 4rem;

    h2 {
      font-size: 2rem;
    }
    .search-box {
      padding-left: 2rem;
      input {
        font-size: 1.4rem;
}
    }
  }

  .tag-box {
    gap: 1.1rem  0.6rem;

    span {
      padding: 0.5rem 1.3rem;
  }
  } 

.quick-link-toggle {
  min-width: 28rem;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #c9c9c9;
  }
}
.rolling-slide {
  top: 1rem;
}

  .rolling-container {
    height: 4.2rem;
    line-height: 4.2rem;
  }

  .user-tip {

    flex-direction: column;
    // width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;

    align-items: center;
    justify-content: center;

      .quick-link-title {
        text-align: center;
      // width: 100%;
      margin-left: 0;
    }

  }
  .dropdown-list {
    width: auto;
  }

/* 사이버 범죄 */
  .cyber-wrap {
  margin-top: 4rem;
}

.cyber-action-list {
  // gap: 2rem;
  padding: 1.7rem 2rem;
}

.cyber-action {
  flex-direction: column;

  .text {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    text-align: center;
  }
}


.cyber-right {

  .lookup-div {
            margin-top: 1.4rem;
  }
  .title-area {
    flex-direction: column;
    display: flex;
    justify-content: unset;
    align-items: unset;
    flex-wrap: wrap;
  }

  .title-area small {
    // font-size: 1.2rem;
    // color: #555;
    // line-height: 1.4;
    font-family: $font_medium;
  }
  
  .lookup-box {
    flex-direction: column;
    display: flex;
    justify-content: unset;
    align-items: unset;
    // flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2.1rem;


    select {
      padding: 0.8rem;
      font-size: 1.4rem;
      border: 1px solid #c9c9c9;
      border-radius: 0.8rem;
      padding-left: 3rem;
    font-family: $font_medium;

    }

    input {
      padding: 0.8rem;
      font-size: 1.4rem;
      border: 1px solid #c9c9c9;
      border-radius: 0.8rem;

      // // flex: 1;
    }
  }

  .lookup-info {
    text-align: center;
    padding: 3rem 2.2rem;
    font-family: $font_semibold;

        span {
      font-size: 1.4rem;
    }
  }
}

.lookup-btn {
  width: 17rem;
  min-width: unset;
  margin: 0 auto;

  font-size: 1.8rem;
  text-align: center;
  padding-left: 7.8rem;
  margin-top: 0.7rem;

  &::after {
    left: 5rem;
    pointer-events: none;
  }

}

/* 아이콘 삽입 */

.select-wrap {
  width: 100%;
  // position: relative;
  // display: inline-block;

  select {
    // appearance: none;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // width: 100%;

    padding: 0.8rem 3rem 0.8rem 1rem;

    /* 오른쪽 여백 확보 */
    font-size: 1.4rem;
    border: 1px solid #c9c9c9;
    border-radius: 0.6rem;
    background-color: #ffffff;
    // color: #333;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 2rem;
    background: url("../img/icon/ico-l-arrow-down.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
  }
}





/* 유실물 아이콘 리스트 */

.lostnfound-action-list {
    padding: 1.7rem 2rem;
} 

.lostnfound-action {
   flex-direction: column;

  .text {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    text-align: center;
  }
}




















/* 유실물, 누리캅스 */

/* 유실물 아이콘 리스트 */

.lostnfound-action-list {
   padding: 1.7rem 2rem;
} 

.lostnfound-action {
 flex-direction: column;
 
  .text {
    //    font-size: 1.3rem;
    line-height: 0px;
    // // // font-weight: 700;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
}

/* 누리캅스 우측 */

.lostnfound-right {
  .title-area {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: unset;
  }

  .lostnfound-right-box {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      flex-grow: 1;
  }

  .text {
      flex-wrap: wrap;
      flex-direction: column;
    margin-left: 0;
    display: flex;
    margin-top: 2rem;
    text-align: center;
  }

  .lookup-div {
  padding: 2rem 1.2rem;
  margin-top: 1.4rem;
  min-height: unset;
  // max-height: 17rem;
  }

  .lookup-box {
    // gap: 2rem;
    // // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // // cursor: pointer;

        // flex-direction: column;
        display: flex;
        justify-content: unset;
        align-items: unset;
        gap: 1rem;
        margin-bottom: 0;
  }

  .lookup-btn {
        width: 17rem;
        min-width: unset;
        margin: 0 auto;
        font-size: 1.8rem;
        text-align: center;
        padding-left: 7.8rem;

    // &:hover {
    //   background-color: #eef4fb;
    // }
  }

  .lookup-info {
    background-color: #dbe7f4;
    // color: #333;
    padding: 1.4rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid #c9c9c9;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $font_regular;
  }
}

/* 이용안내, 순찰신문고 */

// .info-section {
//   // margin: 4rem 0;
// }

// .info-guide, 
.patrol-report {
  // flex: 1 1 48%;
  // display: flex;
  border-radius: 1rem;
}

// .info-guide h3, 
// .patrol-report h3 {
//   font-size: 2rem;
//   margin-bottom: 1.6rem;
//   font-family: $font_semibold;
// }

.guide-cards {
  display: flex;
  flex-wrap: wrap;
  gap: .9rem;
  // width: 100%;
}

.guide-card {
  width: 100%;
  height: 11.5rem;
  padding: 2.2rem 3rem;
  border-radius: 1rem;  
  background-color: #f4f4f4;
  position: relative;

  h4 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  button {
    // width: 11.4rem;
    // height: 2.8rem;
    // background-color: #6a6a6a;
    // color: white;
    // border: none;
    // padding: 0.3rem 2.4rem;
    // border-radius: 0.8rem;
    // font-size: 1.4rem;

    // cursor: pointer;
    // display: flex;
    // margin: 0 auto;
    // gap: 1rem;

    position: absolute;
    right: 2rem;
    top: 2rem;
  }
}

.patrol-report .report-box {
  background-color: #f4f4f4;
  padding: 4rem 2.1rem;

  p {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
  span {
    display: inline-block;
    width: 100%;
  }
}


.search-form {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  input {
    flex: 1;
    padding: 0.9rem 1.2rem;
    border: 1px solid #c9c9c9;
    
    //    font-size: 1.3rem;
    text-align: center;
  }

  .search-btn {
    background-color: #004c70;
    color: white;
    border: none;
    padding: 0.9rem 1.5rem;
    //    font-size: 1.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

/* 공지사항, 민원서식 */

/* 탭추가 */
  .tab-menu {
    display: flex;
    // gap: 10px;
    margin-bottom: 1.2rem;
  }

  .tab-btn {

      font-size: 2rem;
      font-family: $font_semibold;
      // margin-bottom: 1.6rem;

    cursor: pointer;
    user-select: none;
    color: #777;
    padding-right: 4.2rem;


  }

  .tab-btn.active {
    color: #111;
  }
  
.tab-content  {
  .section-header {
    position: relative;
    margin: 0;
    a {
      position: absolute;
      right: 0;
      bottom: 10px;
    }
  }
}


.notice-forms-section {  
  width: 100%;
  gap: 4rem;
  margin-top: 5rem;
  padding-bottom: 0;
  border: none;
}

.notice-area {
  gap: 4rem;

  > div {
    flex: 1;
    min-width: 100%;
  }
}

.safety-image {  
  width: 100%;
  // border-radius: 1rem;

  // img {
  //   width: 100%;
  //   height: auto;
  // }
}

.safety-text {
  h3 {
    font-size: 2.2rem;
    // // font-weight: 700;
    margin: 1rem 0 0.5rem;
    color: #004a75;
  }

  p {
    font-size: 1.4rem;
    // color: #333;
    line-height: 1.6;
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;

  h3 {
    font-size: 2rem;
    font-family: $font_semibold;
  }

  a {
    // font-size: 1.2rem;
    font-family: $font_semibold;
    color: #106192;
    text-decoration: none;
  }
}

.notice-list li, .form-list li {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  // font-family: $font_bold;
  border-bottom: 1px solid #eeeeee;
  
  padding: 1.4rem 0;
  height: 6.5rem;

  a {
    span {
  margin-left: 1rem;

    }
  }

}

.notice-list img, .form-list img {
  width: 2.5rem;
  height: auto;
  margin-right: 2.5rem;
}


// section:last-child {
//   padding-top: 3rem;
//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     border-top: 0.1rem solid #dedede;
//     width: 100%;
//     max-width: 121rem;
//   }
// }

/* 경찰 민원 채널 */

.channel-section {
  position: relative;

  h3 {
    margin-bottom: 3rem;
    // font-size: 2rem;
    // font-family: $font_semibold;
  }
}

.channel-carousel-wrap {
  width: 100%;
  margin: 0;
  // position: relative;
  // box-sizing: border-box;
  // // height: auto;
  // overflow: hidden;
}

// .channel-carousel {
//   display: flex;
//   scroll-behavior: smooth;
//   // gap: 1.3rem;
//   // padding: 1rem 0rem;
// }

.channel-item {
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    display: block;
  }

  &.swiper-slide {
    width: 23.3rem;
    // width: auto !important;
    flex-shrink: 0 !important;
    cursor: pointer;
  }
}

.channel-btn {
  position: absolute;
  top: 0;
  bottom: unset;

  &.left {
      left: unset;
    right: 35px;

  }

  &.right {
    right: -12px;
  }
}

// .channel-carousel.swiper-wrapper {
//   width: auto !important;
// }


/* 우측 퀵메뉴 */

.floating-menu {
  bottom: 8rem;
}




}


/* B */

@media (max-width: 1024px) {


  /* 메인 히어로 섹션 */

.main-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 5.8rem;
  padding-top: 3.6rem;
  padding-bottom: 5rem;
  // flex-wrap: wrap;
}


.hero-left {
    order: 0; 
    flex: 1;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  
 .banner-container {
      max-width: 100%;
      height: auto;
      // max-height: 100%;
      // width: 100%;
    // padding-top: calc(138 / 537 * 100%);
  }

.banner-slide {
    // object-fit: contain;
    // max-width: 100%;
    // max-height: 100%;

    img {	
      width: 100%;
      max-height: 100%;
    }
  }
}

.banner-controls {
  top: unset;
  bottom: 0.4rem;
  right: unset;
  left: 1.4rem;
  padding: 0 1.3rem;
  // transform: translateY(-50%);
  // display: flex;
  // align-items: center;
  // gap: 0.3rem;
  // background: rgb(161 205 231);
  // border-radius: 14px;
  // color: #69767d;
  // z-index: 10;
  // font-size: 1.4rem;
  // font-family: $font_semibold;
}
#toggle-play {
  width: 2.4rem;
}


.wrap_box_txt {
	h2 {
		font-size: 2rem;
    
    &::before {
      left: -3.7rem;
      top: .8rem;
      width: 2.9rem;
      height: 1.9rem;
    }
	}

	h3 {
		font-size: 2rem;
		letter-spacing: -1px;
    margin-bottom: 1.6rem;
	}
}

.hero-right {
  flex: 1 1 100%;
  max-width: 100%;
  gap: 2.4rem;
  padding-left: 0;
  padding-right: 0;

  h2 {
    font-size: 3.2rem;
    color: #106192;
    text-align: center;
    // margin-bottom: -1rem;
  }
}


/* 민원 */
.wrap_hero_btn {

	.hero_btns {
    gap: 0.9rem;
    flex-wrap: nowrap;
}

  .hero_btn {
    width: 32%;
    height: 10.2rem;
    border-radius: 1.2rem;
    
    padding: 1.6rem;
    border-radius: .8rem;
    border: 1px solid #dadada;
    // // flex: 1;	
    // line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    box-shadow : 10px 10px 7px 1px #7878783d;
  }

	.circle {
			width: 5.3rem;
			height: 5.3rem;
    margin: 0 auto 0.6rem;
		
		img {
			width: 90%;
		}
		}

  .text {
    margin-top: 0.8rem;
    font-size: 1.4rem;
  }

  .lookup-btn {
    // // flex: 1;
    min-width: 12rem;
    padding: 0.8rem 1.2rem;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    border-radius: 0.6rem;
    font-size: 1.4rem;
    font-family: $font_bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;

    &:hover {
      background-color: #eef4fb;
    }
  }

  .lookup-info {
    background-color: #1499bd;
    // color: #333;
    padding: 1.4rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid #c9c9c9;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $font_regular;
  }
}



/* 민원 캐러셀 섹션 */

.favorite-carousel {
	padding-top: 3.4rem;
  padding-bottom: 6.8rem;

  &::before {
    height: 100%;
    // width: 100%;
    border-radius: 0;
  }
   .swiper {
      width: 100%;
      margin: 0;
    }
    .swiper-slide {
      height: auto; /* grid 모드에서 높이 자동 */
      display: flex;
      align-items: center;
      justify-content: center;
    }
    // .swiper-slide {
    //   width: 50% !important;
    //   padding-right: 0.5rem;
    // }

    .swiper-button-prev, .swiper-button-next {
      display: none;
    }

}

  .favorite-carousel .favorite-header {
    // flex-wrap: wrap;
    // flex-direction: column;
    // align-items: unset;
    width: auto;
    text-align: left;
    justify-content: flex-start;

    .box_title {
      margin-bottom: 2rem;
    }

  .service-setting {
    a {
      display: none;
    }
  //   img {
  //     width: 3rem;
  //     // height: 2rem;
  // }
}

  }

//   .service-setting {
//     display: flex;
//     align-items: center;
// 		justify-content: flex-end;
//     gap: 1rem;
    
//     span {      
//       font-size: 1.5rem;
//       color: #555;
//     }
//     // // font-weight: 700;

//     img {
//       width: 2rem;
//       height: 2rem;
//     }
//   }

// 	.wrap_slide-carousel {
//   position: relative;
//   // padding: 4.0rem 2.0rem;
//   // background-color: #fff;
//   overflow: hidden;
//   // flex-wrap: wrap;
// 	}
 
//   .swiper {
//     position: relative;
//     width: calc(100% - 21rem);
//     box-sizing: border-box;
//     margin: 0 auto;
//     // margin: 0 15.7rem;
//   }

//   .swiper-wrapper {
//     display: flex;
//     width: 100%;
//   }

//   .swiper-slide {
//     flex-shrink: 0;
//     width: 12.24%;
//     box-sizing: border-box;
//     cursor: pointer;

//     &:last-child {
//       margin-right: 0;
//     }
//   }

//   .service-item {
//     background-color: #fff;
//     border: 0.1rem solid #e0e0e0;
//     border-radius: 1rem;
//     padding: 1.4rem 1.0rem;
//     width: 100%;
//     height: 16.0rem;
//     text-align: center;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//   }

//   .label-wrap {
//     display: inline-flex;
//   }

//   .label {
//     width: 5rem;
//     height: 5rem;
//     line-height: 5rem;
//     font-size: 1.6rem;
//     font-family: $font_extrabold;
//     color: #fff;
//     text-align: center;
//     border-radius: 50%;
//     margin-bottom: 1.4rem;
//   }

//   .green .label {
//     background: linear-gradient(0deg, #3c8343, #81c768);
//   }

//   .orange .label {
//     background: linear-gradient(0deg, #ef6734, #f7963a);
//   }

//   .blue .label {
//     background: linear-gradient(0deg, #375dcf, #5e91f1);
//   }

//   .star {
//     position: absolute;
//     top: 1.0rem;
//     right: 1.0rem;
//     width: 1.6rem;
//     height: 1.6rem;
//     background-image: url('../img/icon/ico-star.png');
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
//     text-indent: -999.9rem;
//     overflow: hidden;
//     display: inline-block;
//   }

//   .title {
//     font-size: 1.6rem;
//     line-height: 1.3;
//     word-break: keep-all;
//   }

//   .swiper-button-prev {
//     position: absolute;
//     top: 56%;
//     // transform: translateY(-50%);
//     left: 3.6rem;
//     width: 3.7rem;
//     height: 3.7rem;
//     border-radius: 50%;
//     background-color: #fff;
//     z-index: 10;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;
//   }

//   .swiper-button-next {
//     position: absolute;
//     top: 56%;
//     // transform: translateY(-50%);
//     right: 3.6rem;
//     width: 3.7rem;
//     height: 3.7rem;
//     border-radius: 50%;
//     background-color: #fff;
//     z-index: 10;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;
//   }

//   .swiper-button-prev::after, .swiper-button-next::after {
//     font-size: 2.0rem;
//     // color: #333;
//   }

//   .swiper-pagination {
//     padding-top: 0.8rem;
//     display: flex;
//     justify-content: center;
//     gap: 0rem;
//     align-items: flex-start;
//   }

//   .swiper-pagination-bullet {
//     width: 1.1rem;
//     height: 1.1rem;
//     background-color: #bcbcbc;
//     border-radius: 50%;
//     opacity: 1;
//     transition: all 0.3s ease;
//   }

//   .swiper-pagination-bullet-active {
//     width: 3.3rem;
//     border-radius: 0.8rem;
//     background-color: #1e50d8;
//   }
// }

}
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////
// @media all and (max-width: 769px) {
// }


//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////

// @media all and (max-width: 481px) {




// }

